
/* Стили стартовые для ссылок */
.list-html {
  display: block;
  list-style: none;
}

.start {
  text-transform: unset;
   text-decoration:solid;
  color: blue;
}




:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}






/* FORM */

.form {
margin: 0;
align-items: center;
justify-content: center;
margin-bottom: 32px;

}

/* Инпут */
.input {
  justify-content: center;
  Width: 270px;
  Height: 30px;
  Top: 8px;
  Left: 16px;
  border-radius: 6px;
  border-color: gray;
  margin-bottom: 32px;
  cursor: pointer;
}

.input:hover {
border-color: #747bff;
}

.input:focus {
border-color: #747bff;
}

.searchButton {
Width: 90px; 
Height: 35px;
border-radius: 8px;
border-color: #4E75FF;
background-color:#4E75FF;
color: #FFFFFF;
font-size: 16px;
line-height: 24px;
font-weight:500;
}

.searchButton:hover {
   color: aqua;
  background-color: #747bff;
}

/* Индикатор */

.loader {
  display: block;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  color: #242424;

}
/* Основные стили для ссылок и прочее */

body {
margin: 0;
padding: 0;
background-color:azure;
}


a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}


/* CONTAINER - основной*/
.container {
max-width: 100%;

}


/* ALL ABOUT GALLERY */

ul {
  list-style: none;
  justify-content: center;
  margin: auto;
  padding: 0;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
}


.wrap-card {
  Height: auto;
  display: block;
  width: calc((100% - 24px) /5);
  margin-bottom: 14px;
  border-radius: 4px;
  margin-right: 34px;

}

.link-card {
  Width: 350px;
  Height: 250px;
  Top: 108px;
  Left: 540px;
  Border: 1px;
  display: block;
  z-index: 200000;
}
.photo-card {
   Width: 312px;
   Height: 250px; 
   Top: 108px; 
   Left: 540px; 
   Border: 1px;
   display: block;
   border-radius: 1px;
   border-color: #808080;
   margin-top: 10px;
  
  
}


.simple-lightbox {
  z-index:1100;
}

/* Надписи под картинками */

.info p {
  margin: 5px 0;
}
 
.info  {
display: flex;
font-size: 14px;
line-height: 1.5;
width: 290px;
height: 48px;
border-radius: 1px;
border-color: #e0e0e0;
padding: 10px;
border: 1px solid;
background-color: #ffffff;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
word-wrap: break-word;
gap: 5px;
overflow-wrap: anywhere;

}
.wrap-text {
margin-right: 27px;
justify-content: center;


}

.wrap-text-two {
  font-size: 14px;
  line-height: 1.5;
  
}

/* Контеинер для кнопочки: */

.container-button{
  margin-bottom: 24px;

}

/* Вторая кнопочка */
.load-more {
  display: flex;
  Width: 100px; 
  Height: 35px;
  border-radius: 8px;
  border-color: #4E75FF;
  background-color:#4E75FF;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
  font-weight:500;
   margin: 0 auto;
   z-index: 300000000;

}

.load-more:hover {
background-color: #17a2b8;
color: aqua;
}


/* Дополнительные стили для izitoast  */



.iziToast {
box-shadow: 0 4px 15px rdba (0,0,0, 0.2) !important;

  border-radius:  4px !important;
}


.iziToast.success {
background-color: #28a745 !important;
}

.iziToast.error {
  background-color: crimson !important;
}

.iziToast.info {

background-color: #17a2b8 !important;

}

.iziToast .iziToast-title {
  font-weight: bold !important;
}

.iziToast .iziToast-message {
  font-size: 14px !important;
}